body { 
    margin: 0px;
    background-image: url(img/v498-bb-29-abstractbg_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
.welc {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color:none;
    position: relative;
    top: 5%;
    font-weight: bold;
}
.topnav {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 0px;
}
.topnav a {
    color:none;
    font-family: sans1;
    font-size: 17px;
    padding: 10px;
    margin: 20px;
   
}
@font-face {
    font-family: sans1;
    src: url(manti_sans/Manti\ Sans\ Bold\ Demo.otf);
}
@font-face {
    font-family: sans2;
    src: url(Signatrue.ttf);
}

.sign p {
    display: flex;
    color: black;
    font-family: sans2;
    position: absolute;
    left: 0%;
    padding-bottom: 3px;
}
.fa-facebook {
    background:rgba(128, 128, 128, 0);
    color: white;
    
}
.fa-facebook :hover {
    background-color: white;
}
.fa-youtube {
    background: rgba(128, 128, 128, 0);
    color:white;
}
.fa-instagram {
    background: rgba(128, 128, 128, 0);
    color: white;
}
.fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    padding: 17px;
}
.social {
    position: absolute;
    top: 1%;
    left: 80%;
    width: 200px;
    z-index: 100;
}
.social a {
    margin: 6px 6px;
}
.intro {
    padding: 2em;
    margin: 0px 0px;
    position: absolute;
    color:grey;
    top: 20%;
    left: 10%;
    font-size: 40px;
    font-family: sans1;
    box-shadow: 4px 7px 15px black;
    border-radius: 5%;
    background-color: rgba(1, 58, 107, 0);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 50%, rgba(233, 199, 49, 0.774) 50%);
}
.intro .letters1 {
    color:grey;
    font-size: 63px;
    margin-left: 5px;
}
.intro .letters2 {
    margin: 0px;
}
.intro .letters3 {
    margin: 0px;
} 
.greyletters {
    display: flex;
    color: grey;
    font-size: 20px;
    margin-top: 30px;
}
.greyletters p {
   display: contents;
   padding-left: 10px;
   color: grey;
}




   